<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- App favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- Bootstrap Css -->
    <link href="assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="assets/css/icons.min.css" rel="stylesheet" type="text/css" />
    <!-- App Css-->
    <link href="assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css" />


<body>
<form action="paiement.php" method="post">
    <center  ">
    <label for="numereo du carte">numero de carte</label>
    <input type="text" name="num carte" id="num carte"><br>
    <label for="code pin">code pin</label>
    <input type="text" name="code pin" id="code pin"><BR>
    <label for="code pin">code pin</label>
    <input type="text" name="code pin" id="code pin"><BR>
    <label for="montant a payer">montant a payer</label>
    <input type="text" name="montant a payer" id="montant a payer">
    <button>payer</button>
</form></center>

</body>
</html>
</head>