{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
    <h1>liste des utilisateurs</h1>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Articles</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for user in user %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{% for role in user.roles %}
                        {{ role }}
                    {% endfor %}</td>
                <td></td>
                <td>
                    <a href="{{ path('modifier_user',{'id':user.id}) }}" class="btn btn-warning" style="background-color: #1f2acc">modifier
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan=5> Pas d'utilisateurs inscrit</td>
            </tr>
        {% endfor %} </tbody>
    </table>
{% endblock %}
